.search-wrap {
  padding-top: 80px;
  display: flex;
  gap: 30px;
  .search-filter-wrap {
    position: relative;
    flex-shrink: 0;
    max-width: 437px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    > div {
      width: 100%;
    }
  }
  .search-content {
    width: 100%;
    &.initial {
      height: calc(100vh - 114px - 80px - 400px);
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      justify-content: center;
      > strong {
        font-size: 1.5rem;
        color: var(--color-main1);
      }
    }
    > li {
      display: block;
      margin-bottom: 24px;
    }
  }
}
