/*==========================reset==========================*/
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}
body.no-scroll {
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button,
input {
  background: none;
  border: none;
  color: inherit;
}
button:enabled {
  cursor: pointer;
}
img {
  width: 100%;
  vertical-align: top;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
h1,
h2,
h3 {
  font: inherit;
}
ol,
ul {
  list-style: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/*==========================style==========================*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@font-face {
  font-family: "HS-Regular";
  src: url("https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HSSanTokki20-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
:root {
  /*color*/
  --color-main1: #2c6bc5;
  --color-main2: #357ea7;
  --color-main3: #00b1da;
  --color-main4: #f1f6fe;
  --color-main5: #ffc700;

  /*text color*/
  --text-1: #231f20;
  --text-2: #3f3d56;
  --text-3: #aaaaaa;
}

body {
  color: var(--text-1);
  font-family: "Noto Sans KR";
  font-weight: 400;
}

.icon {
  vertical-align: middle;
  display: inline-flex;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.icon-arr-bottom {
  width: 16px;
  height: 16px;
  background-image: url("../public/image/icon/icon-arr-bottom.svg");
}
.icon-arr-right {
  width: 16px;
  height: 16px;
  background-image: url("../public/image/icon/icon-arr-right.svg");
}
.icon-pin {
  width: 17px;
  height: 17px;
  background-image: url("../public/image/icon/icon-pin.svg");
}
.icon-bookmark {
  width: 40px;
  height: 40px;
  background-image: url("../public/image/icon/icon-bookmark.svg");
}
.icon-bookmark-active {
  width: 40px;
  height: 40px;
  background-image: url("../public/image/icon/icon-bookmark-active.svg");
}

/*custom-scroll*/
.custom-scroll-1::-webkit-scrollbar {
  width: 10px;
}
.custom-scroll-1::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0); /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.custom-scroll-1::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0); /*스크롤바 뒷 배경 색상*/
}

/*공통 스타일*/
.has-head {
  margin-top: 114px;
}
.basic-page-layout {
  padding: 0 100px;
  width: 100%;
}
.loading {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% + 25px);
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(126, 126, 126, 0.3);
  border-radius: 50%;
  border-top-color: #e87c3e;
  animation: loading-spin 1s ease-in-out infinite;
  -webkit-animation: loading-spin 1s ease-in-out infinite;
}
@keyframes loading-spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes loading-spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
